<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <header>
      <section class="container">
        <h1 class="logo">
           <img src="/images/logo.jpg" alt="Helping Hand"/>
            <span>Connecting People Who Care…With Causes That Matter</span>
        </h1>

      </section>
    </header>


  </body>
</html>
